In [56]:
import pandas as pd
from matplotlib import pyplot as plt

In [57]:
df=pd.read_csv(r"C:\Users\SAIRAM\Desktop\ML paper work\Heart_Disease_Prediction.csv")
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart_Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [58]:
df.drop(['Cholesterol','FBS over 120','EKG results','Max HR','Exercise angina','ST depression','Slope of ST','Number of vessels fluro','Thallium'],axis='columns',inplace=True)
df.head()

   Age  Sex  Chest pain type   BP Heart_Disease
0   70    1                4  130      Presence
1   67    0                3  115       Absence
2   57    1                2  124      Presence
3   64    1                4  128       Absence
4   74    0                2  120       Absence

In [59]:
df.Heart_Disease=df.Heart_Disease.map({'Presence':1,'Absence':0})
df.head()

   Age  Sex  Chest pain type   BP  Heart_Disease
0   70    1                4  130              1
1   67    0                3  115              0
2   57    1                2  124              1
3   64    1                4  128              0
4   74    0                2  120              0

In [60]:
df.Sex=df.Sex.map({1:'male',0:'female'})
df.head()

   Age     Sex  Chest pain type   BP  Heart_Disease
0   70    male                4  130              1
1   67  female                3  115              0
2   57    male                2  124              1
3   64    male                4  128              0
4   74  female                2  120              0

In [61]:
inputs=df.drop(['Heart_Disease'],axis='columns')
target=df.Heart_Disease

In [62]:
inputs.head()

   Age     Sex  Chest pain type   BP
0   70    male                4  130
1   67  female                3  115
2   57    male                2  124
3   64    male                4  128
4   74  female                2  120

In [63]:
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Heart_Disease, dtype: int64

In [64]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0

In [65]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Age     Sex  Chest pain type   BP  female  male
0   70    male                4  130       0     1
1   67  female                3  115       1     0
2   57    male                2  124       0     1
3   64    male                4  128       0     1
4   74  female                2  120       1     0

In [66]:
inputs=inputs.drop(['Sex'],axis='columns')
inputs.head()

   Age  Chest pain type   BP  female  male
0   70                4  130       0     1
1   67                3  115       1     0
2   57                2  124       0     1
3   64                4  128       0     1
4   74                2  120       1     0

In [67]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.20)

In [68]:
len(inputs)

270

In [69]:
len(x_test)

54

In [70]:
len(x_train)

216

In [71]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [72]:
model.fit(x_train,y_train)

GaussianNB()

In [73]:
model.score(x_test,y_test)

0.7962962962962963

In [74]:
prediction=model.predict(inputs)

In [75]:
from sklearn.metrics import confusion_matrix, classification_report
cm=confusion_matrix(target,prediction)
cm

array([[103,  47],
       [ 28,  92]], dtype=int64)

In [76]:
print(classification_report(target,prediction))

              precision    recall  f1-score   support

           0       0.79      0.69      0.73       150
           1       0.66      0.77      0.71       120

    accuracy                           0.72       270
   macro avg       0.72      0.73      0.72       270
weighted avg       0.73      0.72      0.72       270

In [77]:
x_test[:10]

     Age  Chest pain type   BP  female  male
121   54                4  122       0     1
129   60                4  117       0     1
44    59                3  126       0     1
17    53                4  140       0     1
150   41                3  112       0     1
176   51                4  140       0     1
71    57                4  120       1     0
167   53                3  130       0     1
204   55                4  160       0     1
179   50                3  129       0     1

In [78]:
y_test[:10]

121    1
129    1
44     1
17     1
150    0
176    1
71     0
167    0
204    1
179    0
Name: Heart_Disease, dtype: int64

In [79]:
model.predict(x_test[:10])

array([1, 1, 1, 1, 0, 1, 0, 1, 1, 1], dtype=int64)