In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\SAIRAM\Desktop\ML paper work\Heart_Disease_Prediction.csv")
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart_Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [2]:
inputs = df.drop(['Heart_Disease'],axis = 'columns')
target = df.Heart_Disease

In [3]:
target=target.map({'Presence':1,'Absence':0})

In [4]:
inputs.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3

In [5]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(inputs, target)

DecisionTreeClassifier()

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.20)
len(x_test)

54

In [7]:
prediction = model.predict(inputs)

In [8]:
from sklearn.metrics import confusion_matrix, classification_report
cm=confusion_matrix(target,prediction)
cm

array([[150,   0],
       [  0, 120]], dtype=int64)

In [9]:
print(classification_report(target,prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       150
           1       1.00      1.00      1.00       120

    accuracy                           1.00       270
   macro avg       1.00      1.00      1.00       270
weighted avg       1.00      1.00      1.00       270